Repository beetechone/auto-clone-engine, changes with the owners that CODEOWNERS names for each.
All owners: @frontend-lead, @backend-lead, @product, @ba-lead, @devops

CODEOWNERS:

/apps/web/      @frontend-lead
/apps/api/      @backend-lead
/apps/admin/    @frontend-lead @product
/docs/          @ba-lead
/infra/         @devops

chore: update bug report
  docs/09_bug_report.md
Owners: @ba-lead

Update project phase from 1 to 2
  infra/context/project.yaml
Owners: @devops

chore: update bug report
  docs/09_bug_report.md
Owners: @ba-lead

chore: update bug report
  docs/09_bug_report.md
Owners: @ba-lead

chore: update bug report
  docs/09_bug_report.md
Owners: @ba-lead

chore: update bug report
  docs/09_bug_report.md
Owners: @ba-lead

chore: update bug report
  docs/09_bug_report.md
Owners: @ba-lead

chore: update bug report
  docs/09_bug_report.md
Owners: @ba-lead

Enhance workflow with npm caching for crawler
  .github/workflows/02_feature_mapping.yml
Owners: none

Create package.json for @cloner/crawler
  infra/tools/crawler/package.json
Owners: @devops

chore: update bug report
  docs/09_bug_report.md
Owners: @ba-lead

chore: update bug report
  docs/09_bug_report.md
Owners: @ba-lead

Update project phase from 2 to 3
  infra/context/project.yaml
Owners: @devops

chore: update bug report
  docs/09_bug_report.md
Owners: @ba-lead

Enhance bug report workflow with manual trigger
  .github/workflows/06_bug_report.yml
Owners: none

chore: update bug report [skip ci]
  docs/09_bug_report.md
Owners: @ba-lead

chore: update bug report [skip ci]
  docs/09_bug_report.md
Owners: @ba-lead

chore: update bug report [skip ci]
  docs/09_bug_report.md
Owners: @ba-lead

chore: update bug report [skip ci]
  docs/09_bug_report.md
Owners: @ba-lead

Update project phase from 3 to 5
  infra/context/project.yaml
Owners: @devops

chore: update bug report [skip ci]
  docs/09_bug_report.md
Owners: @ba-lead

chore: update bug report [skip ci]
  docs/09_bug_report.md
Owners: @ba-lead

Update project phase from 5 to 6
  infra/context/project.yaml
Owners: @devops

chore: update bug report [skip ci]
  docs/09_bug_report.md
Owners: @ba-lead

chore: update bug report [skip ci]
  docs/09_bug_report.md
Owners: @ba-lead

Update project phase to 7 in project.yaml
  infra/context/project.yaml
Owners: @devops

chore: update bug report [skip ci]
  docs/09_bug_report.md
Owners: @ba-lead

chore: update bug report [skip ci]
  docs/09_bug_report.md
Owners: @ba-lead

chore: update bug report [skip ci]
  docs/09_bug_report.md
Owners: @ba-lead
